@model LayoutViewModel
<!DOCTYPE html>

<html lang="es">
<head>
    <title>@(ViewBag.Title ?? this.Model.Configuration.Title)</title>

    <meta charset="utf-8" />
    <meta name="description" content="@this.Model.Configuration.MetaDescription" />
	<meta name="author" content="pablogq" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">


    <link href="@this.Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@this.Url.Content("~/Content/css/base.css")" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">@(this.Model.Configuration.Heading ?? this.Model.Configuration.Title)</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@this.Html.ActionLink("Artículos", "Entries", "Entry")</li>
                </ul>
                @using (this.Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" })) 
                {
                    <div class="input-group" style="width:300px;">
                        <input name="criteria" type="text" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                    </div>
                }
                <ul class="nav navbar-nav navbar-right">
                    <li>@(Model.User.IsAuthenticated ? Html.Safe("<p class='navbar-text'><strong>" + Model.User.FriendlyName + "</strong> |</p>") : Html.Safe(String.Empty))</li>
                    <li>@(Model.User.IsAuthenticated ? Html.ActionLink("Configurar |", "Index", "Configure") : Html.Safe(String.Empty))</li>
                    <li>@(Model.User.IsAuthenticated ? Html.ActionLink("Salir", "Logout", "Authentication") 
                                                     : Html.ActionLink("Entrar", "Login", "Authentication", new { token = "my-secret-token" }, null))</li>
                </ul>
            </div>
        </div>
	</nav>
    <div class="container content">
        @RenderBody()
    </div>
    <script src="@this.Url.Content("~/Content/js/jquery.min.js")"></script>
    <script src="@this.Url.Content("~/Content/js/bootstrap.min.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
