@model HomeViewModel
<article>
    @if (this.Model.User.IsAdmin) 
    {
        <div class="admin-box text-links">
            Admin: @Html.ActionLink("New Post", "Create", "Entry")
        </div>
    }

    <h1>@this.ViewBag.Message</h1>

    <ul class="entry-list text-links">
        @foreach (EntrySummaryViewModel entry in this.Model.Entries)
        {
            if (!this.Model.User.IsAdmin && !entry.IsPublished) 
            {
                continue; 
            }
            
            <li class="well">
                @this.Html.ActionLink(entry.Title, "Show", "Entry", new { id = entry.Slug }, null)
                <div>
                    @this.Html.Safe(entry.TruncatedContent)
                </div>
                <div class="date">@entry.CreatedAt</div>
                @if (!entry.IsPublished) 
                {
                    <div class="publication-status">(No publicado)</div>
                }
            </li>
        }
    </ul>
</article>
